<!-- loading static files to access the avatar image -->
{% load static %}
{% for user in users %}
<tr>
 <td class="text-center">{{forloop.counter}}</td>
<!-- <td class="text-center user-panel"><i><img class="img-circle elevation-2" src="{{user.imageURL}}" alt=""></i></td> -->

<td class="font-w600 font-size-sm">
    {% for group in user.groups.all %} 
    {{forloop.counter}}. {{group}} <br>
    {% endfor %}
<td class="font-w600 font-size-sm">
    {{user.email}}
<td class="font-w600 font-size-sm">{{user.first_name}} {{user.last_name}}
</td>
</td>
<td class="text-center">
  {% if user.is_active == True %}
  <span class="badge-pill badge-success" data-toggle="tooltip" title="User is Active"></span>
  {% elif user.is_active == False %}
  <span class="badge-pill badge-danger" data-toggle="tooltip" title="User is Deactivated"></i></span>
  {% endif %}
</td>
<td class="text-center">
  {% if request.user == user %}
  {% else %}
    {% if user.is_superuser == True %}
    {% else %}
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-light show-form-update" data-url="{% url 'user_update' user.id %}" data-toggle="tooltip" title="Edit {{ user.full_name }}">
          <a class="fa fa-fw fa-pencil-alt"> </a>
      </button>
      <!-- {% if request.user.is_superuser == True %}
      <button type="button" class="btn btn-sm btn-light show-form-delete" data-url="{% url 'user_delete' user.id %}" data-toggle="tooltip" title="Delete {{ user.full_name }}">
          <a class="fa fa-fw fa-times"> </a>
      </button>
      {% endif %} -->
    </div>
    {% endif %}
  {% endif %}
</td>

</tr>
{% endfor %}
