{% extends 'base_inventory.html' %}

{% block content %}    
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <div class="card-body">
            <div class="card">
              <div class="card-header">
                <div class="block-header row">
                  <div class="col-md-6 mb-2">
                    <button class="btn btn-primary show-form" data-url="{% url 'supplier_create' %}"> <span class="fa fa-plus fa-1x"></span> Add New Supplier</button>
                  </div>
                  
                    
              </div>
                <table class="table table-bordered table-striped" id="supplier-table">
                  <thead >
                    <tr>
                        <th class="text-center" style="width: 5%;">ID</th>
                        <th class="d-none d-sm-table-cell" style="width: 25%;">Supplier Name</th>
                        <th class="d-none d-sm-table-cell" style="width: 25%;">Address</th>
                        <th class="d-none d-sm-table-cell" style="width: 10%;">Phone Number</th>
                        <th style="width: 25%;">Description</th>
                        <th style="width: 10%;">Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% include "includes/suppliers/supplier_list_2.html" %}
                  </tbody>
                </table>
              </div>

            </div>
        </div>
      </div>
  </div>
</div>
</section>

<div class="modal fade" id="modal-supplier">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock %}
