{% load crispy_forms_tags %}
<script>
	var input = document.querySelector("#phone_number");
		window.intlTelInput(input, {
		// any initialisation options go here
		
		initialCountry: "auto",
			geoIpLookup: function(callback) {
				$.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
				var countryCode = (resp && resp.country) ? resp.country : "mw";
				callback(countryCode);
				});
		},
		separateDialCode: true,
			customPlaceholder: function (
				selectedCountryPlaceholder,
				selectedCountryData
			) {
				return "e.g. " + selectedCountryPlaceholder;
			},

		});
</script>
<form method="post" data-url="{% url 'supplier_create' %}" class="create-form">
	{% csrf_token %}
    <div class="modal-header bg-success">
        <h4 class="modal-title ">ADD NEW SUPPLIER</h4>
    </div>
	<div class="modal-body">
		<div class="form-row">
            <div class="form-group col-6 mb-0">
                {{form.name|as_crispy_field}}
            </div>
            <div class="form-group col-6 mb-0">
                {{form.address|as_crispy_field}}
            </div>
            <div class="form-group col-6 mb-0">
                {{form.phone_number|as_crispy_field}}
            </div>
            <div class="form-group col-6 mb-0">
                {{form.description|as_crispy_field}}
            </div>

        </div>

	</div>
		
    <div class="modal-footer block-content block-content-full text-right border-top">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">add supplier</button>
    </div>
</form>