{% for items in items %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ items.item_name }}</td>
    <td>{{ items.item_description }}</td>
    <td>{{ items.unit }}</td>
    <td>{{ items.price }}</td>
    <td>{{ items.category }}</td>
    <td>{{ items.slug }}</td>
    <td class="text-center">{{ items.quantity_at_hand }}</td>
    <td>{{items.get_expected_revenue}}</td>
    <td class="text-center">
      {% if items.active == True%}
      <span class="nav-main-link-badge badge badge-pill badge-success" data-toggle="tooltip" title="User is Admin">Yes</span>
      {% elif items.active == False %}
      <span class="nav-main-link-badge badge badge-pill badge-danger" data-toggle="tooltip" title="User is not Admin">No</span>
      {% endif %}
    </td>

    <td class="text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-light show-form-update" data-url="{% url 'item_update' items.id %}" data-toggle="tooltip" title="Edit {{ items.item_name }} ">
                <a class="fa fa-fw fa-pencil-alt"></a>
            </button>
           
            <!-- <button type="button"  class="btn btn-sm btn-light show-form-delete" data-url="{% url 'item_delete' items.id %}" data-toggle="tooltip" title="Delete {{ items.item_name }}">
                <a class="fa fa-fw fa-times"> </a>
            </button> -->
        </div>
    </td>
</tr>
{% endfor %}



