{% load crispy_forms_tags %}
<form method="post" data-url="{% url 'unit_delete' unit.id %}" class="delete-form">
	{% csrf_token %}
	<div class="modal-header bg-danger">
        <h4 class="modal-title">DELETE UNIT</h4>
    </div>
		<div class="modal-body">
		<p class="lead"> Are you sure you want to delete <strong>{{unit.unit_short_name}} ?</strong></p>
		</div>
		<div class="modal-footer block-content block-content-full text-right border-top">
		<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
		<button type="submit" class="btn btn-outline-danger">Yes</button>
		</div>
</form>
