{% extends 'base_inventory.html' %}

{% block content %}    
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <div class="card-body">
            <div class="card">
              <div class="card-header">
                <div class="block-header row">

                  <div class="col-2">
                    <button class="btn btn-primary show-form" data-url="{% url 'stock_create' %}"> <span class="fa fa-plus fa-1x"></span> Add Stock</button>
                  </div>
                  <div class="col-6">
                    {% include "includes/stocks/stock_by_item_category.html" %}
                  </div>
                  <!-- <div class="col-4">
                    <button id="download-button" class="btn btn-light" style="float: right;"> <i class="fa fa-download"></i> Download PDF</button>
                    <button id="download-excel-button" class="btn btn-light exportToExcel" style="float: right;"> <i class="fa fa-download"></i> Export to Excel</button>
                  </div> -->
              </div>
            <table class="table table-bordered table-striped" id="stock-table">
              <thead >
                <tr>
                    <th style="width: 10%;">Batch Number</th>
                    <th class="d-none d-sm-table-cell" style="width: 10%;">Item</th>
                    <th style="width: 10%;">Supplier</th>
                    <th style="width: 10%;">Ordered Price</th>
                    <th style="width: 10%;">Previous Qty</th>
                    <th style="width: 10%;">Stock in</th>
                    <th style="width: 10%;">Unit Quantity</th>
                    <th style="width: 5%;">New  Stock</th>
                    <th style="width: 5%;">Total Cost</th>
                    <th style="width: 15%;">Created On</th>
                    <th style="width: 5%;">Action</th>
                </tr>
              </thead>
              <tbody>
                {% include "includes/stocks/stock_list_2.html" %}
              </tbody>
            </table>
              </div>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="modal-stock">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock %}
