{%for stock in stocks%}
<tr>
    <td>{{ stock.batch }}</td>
    <td>{{ stock.item.item_name }}</td>
    <td>{{ stock.supplier_name.name}}</td>
    <td>{{ stock.get_one_item_ordered_price }}</td>
    <td class="text-center">{{ stock.previous_quantity }}</td>
    <td class="text-center">{{ stock.stock_in }}</td>
    <td class="text-center">{{ stock.unit_quantity }}</td>
    <td class="text-center">{{ stock.new_quantity }}</td>
    <td>{{stock.get_total_cost_of_items}}</td>
    <td>{{ stock.created_at| date:"d/m/Y"}}, {{ stock.created_at|  date:"H:m:s"}} </td>
    <!-- <td>{{ stock.updated_at| date:"d/m/Y" }}, {{ stock.updated_at|  date:"H:m:s" }} </td> -->
    

    <td class="text-center">
        <div class="btn-group">
            <button type="button"  class="btn btn-sm btn-light show-form-delete" data-url="{% url 'stock_delete' stock.id %}" data-toggle="tooltip" title="Delete {{ stock.item.item_name }}">
                <a class="fa fa-fw fa-times"> </a>
            </button>
        </div>
    </td>
</tr>
{% endfor %}
