{% extends 'base_inventory.html' %}

{% block content %}    
<!-- Main content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      {% include "includes/categories/category_list.html" %}
    </div>
    <div class="breadcrumb breadcrumb-alt col-4" style="float: right;">
      <div class="inner">
          <strong>TOTAL EXPECTED REVENUE:  {{expected_sum_items_cost}}</strong>
      </div>
    </div>
  </div>
  <div class="card col-12">
    <div class="card-header">
      <div class="block-header row">
        <div class="col-2">
          {% if perms.inventory.can_add_new_item %}
          <button class="btn btn-primary show-form" data-url="{% url 'item_create' %}"> <span class="fa fa-plus fa-1x"></span> Add New Item</button>
          {% endif %}
        </div>
      </div>
    </div>
    
    <div class="card-body">
      <table class="table table-bordered table-striped" id="item-table">
        <thead >
          <tr>
              <th>ID</th>
              <th >Item</th>
              <th>Description</th>
              <th>Unit</th>
              <th>Price</th>
              <th>Category</th>
              <th>Slug</th>
              <th>Qty at Hand</th>
              <th>Expected Revenue</th>
              <th>Active in POS</th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% include "includes/items/items_list_2.html" %}
        </tbody>
      </table>  
    </div> 
        
  </div>


  </div>
</div>

<div class="modal fade" id="modal-item">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock %}
