{% extends 'base_inventory.html' %}


{% block content %}
<style>
  #customer_name_label{
    display: inline;
  }
</style>
<style>
  #customer_name_label{
    display: inline;
  }
  
  #item_button{
    background-color: #17a2b8 !important;
    padding: 0.15rem; 
    border-radius: 0.25rem;
  }
  .bottom-area-btns{
    min-width: 90px;
    margin: 0 1px;
    padding: 12px 0;
    height: 80px;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1032;
    }
    

    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }
      .pagination li.active {
      background-color: #4CAF50;
      min-height: 50px;
      min-width: 50px;
      font-size: xx-large;
      /* color: white; */
    }
    .pagination li{
      min-height: 50px;
      min-width: 50px;
      font-size: xx-large;
      /* color: white; */
    }

    .pagination a:hover:not(.active) {
      background-color: #ddd;
      min-height: 40px;
      min-width: 40px;
      font-size: xx-large;
    }
    .list-wrapper{
      min-height: 50px;
      position: relative;
    }
    #item-category-wrapper a div.active {
      background-color: #4CAF50;
    }

</style>
<div class="mb-4">
  <nav class="navbar navbar-light navbar-expand-md bg-light justify-content-md-center justify-content-start border-bottom mb-2" style="font-size: x-large;">
    <a class="nav-item" href="#"><b>{{request.get_code}}</b></a>  
    <div class="navbar-collapse collapse justify-content-between align-items-center">
        

        <ul class="navbar-nav mx-auto text-md-center text-left"> 
           
        </ul>
      
        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap"> 
            <li class="nav-item">
              <form class="q" method="POST">
                  <div class="input-group searchform" name ="q">
                      {% csrf_token %}
                      {{item_search_form.barcode}}
                      <div class="input-group-append">
                          <button type="submit" class="btn btn-secondary show-form" style="width: 90px;"><i class="fa fa-barcode"></i></button>
                      </div>
                  </div>
              </form>
          </li>
        </ul> 
    </div>
  </nav>

  <!--ROW-->
  <div class="row mb-4">
    {% if basket %}
    {%else%}
  <style>
    #cart_section{
      display: none;
    }
    #other_payments{
      display: none;
    }
    .cart_button{
      width: 150px;
    }
  </style>
    {% endif %}

  {% if basket|length == 0 %}
    <!--CART ITEMS-->
    <div class="col-md-6" >
      <div class="card ml-2" >
          <div class="card-body text-center">

            <a class="btn btn-default disabled" style="width: 100px; height: 100px; border-style: dotted; border-radius: 2ex; border-width: 3px;" ></a> <br>

            <strong> Request is Empty!</strong> <br>
              Add Items to the request
          </div>
                
      </div>

    </div>
    <!--END CART ITEMS-->
  {% else %}
    <!--CART ITEMS-->
    <div class="col-md-6" >
        <div class="card" id="cart_section">
            <div class="card-header">
                <h3 class="card-title">Requested Items</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table m-0">
                      <thead>
                      <tr>
                        <th>Item</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-right">Cost</th>
                        <th class="text-right">Total</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                    {% for ordered_item in basket %}
                      <tr>
                        <td>{{ordered_item.item}}</td>
                        <td class="text-center"></a>{{ordered_item.qty}}</td>
                        <td class="text-right">{{ordered_item.price}}</td>
                        <td class="text-right">{{ordered_item.total_price}}</td>
                        <td class="text-center"> <a href="{% url 'basket:basket_remove' ordered_item.item.id %}"> <button class="btn btn-outline-info"><i class="fas fa-times"></i></button></td>
                        </tr>
                      
                      {% endfor %}
                      {% if basket|length > 0 %}
                      <tr>
                        <td colspan="2"></td>
                        <td colspan="1" class="text-right" style="background-color:#343a40; font-size: 100%; font-family: monospace; color: chartreuse;" class="col-md-6"><h4>TOTAL</h4></td>
                        <td colspan="1" class="text-right" style="background-color:#343a40; font-size: 100%; font-family: monospace; color: chartreuse;" class="col-md-6"> <h4>{{basket.get_subtotal_price}}</h4></td>
                        <td colspan="1" class="text-right" style="background-color:#343a40; font-size: 100%; font-family: monospace; color: chartreuse;" class="col-md-6"></td>
                      </tr>
                      {% endif %}
                      </tbody>
                    </table>
                </div>
                <div class="col-md-12" style="float: right;">
                    <div class="mt-2">
                      <a href="{% url 'submit_requisition' %}"><button class="btn btn-success posoption_button mr-2 ml-2 mt-2" > Submit</button> </a>
                    </div>
                </div>
               

            </div>    
        </div> 
        
    </div>

    <!--END CART ITEMS-->
  {% endif %}

      <!--ITEMS TABLE-->
      <div class="col-6">
        <div class="card card-info card-outline card-outline-tabs">
          <div class="row">
            <div class="col-3 ml-2" id="item-category-wrapper">
                <a  href="{% url 'create_requisition'%}">
                  <div class="info-box active">
                      <div>
                          <span class="info-box-text"> <strong>All</strong></span>
    
                      </div>
                  <!-- /.info-box-content -->
                  </div>
                </a> 
              {% for item_category in item_categories %}
                  <!-- /.info-box -->    
                  <a  href="/create_requisition?category={{item_category.id}}">
                      <div class="info-box text-center bg-secondary" >
                          <div>
                              <span class="info-box-text"> <strong>{{item_category.category_name}}</strong></span>
                          </div>
                      <!-- /.info-box-content -->
                      </div>
                  </a> 
              {% endfor %}
            </div>
            <div class="col-8 row" id="list-wrapper">
              {% for item in items %}
                <div class="col-md-4 mb-2 px-1 list-item">
                  <a href="{% url 'item_details' item.id %}">
                  <div  id="item_button" class="item-box mt-0 text-center" data-toggle="modal" data-target="#productBox">
                      <div class="txt-box">
                          <span class="text-dark"> <strong>{{item.selling_price}}</strong> </span>
                      </div>
                      <div class="img-box">
                          <img src = "{{item.image.url}}"class="img-fluid" alt="">
                      </div>
                      <div class="txt-box item-name">
                          <span class="text-dark"><strong>{{item.item_name}}</strong></span>
                      </div>
                  </div>
                </a>
                </div>
              {% endfor %}
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li id="previous-page">
                    <a href="javascript:void(0)" aria-label="Previous" >
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!--END ITEMS TABLE-->
  <!--END ROW-->
  </div>
</div>
{% endblock %}
