{% extends 'base_inventory.html' %}
{% load crispy_forms_tags %}
{% load inventory_template_tags %}
{% block content %}

<style>
  .profile-pic-avatar-thumb {
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  }
</style>

<script>
		var input = document.querySelector("#phone_number");
		window.intlTelInput(input, {
		// any initialisation options go here
		
		initialCountry: "auto",
			geoIpLookup: function(callback) {
				$.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
				var countryCode = (resp && resp.country) ? resp.country : "mw";
				callback(countryCode);
				});
		},
		separateDialCode: true,
			customPlaceholder: function (
				selectedCountryPlaceholder,
				selectedCountryData
			) {
				return "e.g. " + selectedCountryPlaceholder;
			},

		});
</script>

  <div id="page-container">


  <!-- Form Submission in Options -->
          <div class="content">
          <div class="row">
              <div class="col-md-3">

                <!-- profile image -->
                <div class="bg-image" >
                <div class="block">
                <div class="content content-full text-center">
                          <div class="my-6">
                              <img class="profile-pic-avatar-thumb" src="{{user.imageURL}}" alt="">
                          </div>
                      </div>
                </div>
              </div>
              <!-- END profile image -->
              </div>

              <div class="col-md-6 block">
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                  {% csrf_token %}

                  {{form|crispy}}

                  <div class="">
                    <button type="submit" name="button" class="btn btn-primary" >Save </button>
                    <button type="button" name="button" class="btn btn-success">Clear</button>
                    <button type="button" name="button" class="btn btn-warning">Cancel</button>
                    <br> </br>
                  </div>
                </form>
              </div>
          </div>

                <!-- END Page Content -->



{% endblock %}
